<% if flash[:question_errors].present? %>
  <div class="mt">
    <% flash[:question_errors].each do |message| %>
      <p class="mb-sm text-red"><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_with model: question, data: {turbo: false} do |form| %>
  <%= form.hidden_field :user_id %>

  <p class="mt"><%= form.label :body, 'Текст Вопроса' %></p>
  <p><%= form.text_area :body, rows: 5, class: 'form-text-area' %></p>

  <% if question.persisted? %>
    <p><%= form.label :answer, 'Текст Ответа' %></p>
    <p><%= form.text_area :answer, rows: 5, class: 'form-text-area' %></p>
  <% end %>

  <p class="mt"><%= form.submit 'Сохранить', class: 'button button-main' %>
<% end %>
