<div class="container">
  <p class="mt">
    <%= link_to "Создать новый вопрос", new_question_path, class: "button button-main" %>
  </p>

  <p class="mt">
    <%= render 'form', question: @question%>
  </p>
</div>

<div class="container mt-sm mb-sm">
  <h2 class="title-lg">Все вопросы</h2>
</div>

<% @questions.each do |question| %>
  <div class="container mb-sm">
    <p class="mb-sm<%= question.hidden? ? ' hidden-question' : ''%>">
      <%= link_to "Вопрос #{question.id}", question_path(question) %>
      <div>
        <%= render 'question', question: question%>
      </div>
    </p>
  </div>
<% end %>
